---
import Layout from "../layouts/Layout.astro";
import PdfCard from "../components/PdfCard.astro";
import { dataPdfs, type PDFDocument } from "../data/documentos";

const fichaPdfs: PDFDocument[] = dataPdfs.filter(item => item.type === "Ficha de Datos");

const title: string = "Fichas de Datos PDF"
---


  <Layout title={title}>
    <section class="grid-pdfs">
      {
        fichaPdfs.map((item) => (
          <PdfCard
            title={item.title}
            type={item.type}
            size={item.size}
            url={item.url}
          ></PdfCard>
        ))
      }
    </section>
  </Layout>
