---
import Layout from "../layouts/Layout.astro";
import PdfCard from "../components/PdfCard.astro";

const misPdfs = [
  {
    title: "Título documento 1",
    type: "Ficha de Datos",
    size: "300KB",
    url: "/pdfs/UP5.2. Creación de usuarios para acceso remoto al servidor FTP - CE4.b).pdf",
  },
  {
    title: "Título documento 2",
    type: "Ficha de Datos",
    size: "120KB",
    url: "/pdfs/UP5.3. Acceso al servidor en modo activo y pasivo - CE4.c).pdf",
  },
  {
    title: "Título documento 3",
    type: "Ficha de Datos",
    size: "320KB",
    url: "/pdfs/UP5.2. Creación de usuarios para acceso remoto al servidor FTP - CE4.b).pdf",
  },
  {
    title: "Título documento 4",
    type: "Ficha de Datos",
    size: "120KB",
    url: "/pdfs/UP5.3. Acceso al servidor en modo activo y pasivo - CE4.c).pdf",
  },
];

const title = "Fichas de Datos PDF"
---


  <Layout title={title}>
    <section class="grid-pdfs">
      {
        misPdfs.map((item) => (
          <PdfCard
            title={item.title}
            type={item.type}
            size={item.size}
            url={item.url}
          ></PdfCard>
        ))
      }
    </section>
  </Layout>
