---
import Layout from "../layouts/Layout.astro";
import PdfCard from "../components/PdfCard.astro";
import { dataPdfs, type PDFDocument } from "../data/documentos";

const manualPdfs: PDFDocument[] = dataPdfs.filter(item => item.type === "Manual");

const title: string = "Manuales PDF"
---


  <Layout title={title}>
    <section class="grid-pdfs">
      {
        manualPdfs.map((item) => (
          <PdfCard
            title={item.title}
            type={item.type}
            size={item.size}
            url={item.url}
          ></PdfCard>
        ))
      }
    </section>
  </Layout>

